*.exe
*.dll
*.mdb
*~
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
/examples/Makefile
/examples/Makefile.in
/examples/run
install-sh
missing
*.pc
/src/AssemblyInfo.cs
/src/Makefile.in
/src/Makefile
/tools/Makefile
/tools/Makefile.in
/tools/dbus-monitor
INSTALL
/Makefile.in
/aclocal.m4
/Makefile
