; Only three real options:
; The PEM-encoded certificate we want to use for outgoing SSL connections.  ie:
; cert = -----BEGIN CERTIFICATE-----\
; MIICUjCCAbugAwIBAgIEQrufPDANBgkqhkiG9w0BAQUFADApMRYwFAYKCZImiZPy\
; LGQBGRMGaGVybWVzMQ8wDQYDVQQDEwZoZXJtZXMwHhcNMDgwODEzMjE0MDEwWhcN\
; MTgwODExMjE0MDEwWjApMRYwFAYKCZImiZPyLGQBGRMGaGVybWVzMQ8wDQYDVQQD\
; EwZoZXJtZXMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALYLTUORjsZUmk+e\
; TLKzcju07ArdHvEn9ZBlMOZRYl4wPTPjEOGy/TTuaXR6WwX1T1N02FxDTftgsu8h\
; 4P2Qb9u5UYoToEWfAQT+tNrDrwp7X4fdlQgKhz9s3OT+mRuxZPur7JiPmDj5zLIc\
; Qhch+DZjO7XmyCAROdJNXB/KJ3lvAgMBAAGjgYYwgYMwHQYDVR0OBBYEFP5MCxMd\
; 2a6Ak9lHyiHkdfv+2IbJMBEGCWCGSAGG+EIBAQQEAwIGQDAVBglghkgBhvhCAQwE\
; CBYGaGVybWVzMA4GA1UdDwEB/wQEAwIDqDAJBgNVHRMEAjAAMB0GA1UdJQQWMBQG\
; CCsGAQUFBwMBBggrBgEFBQcDAjANBgkqhkiG9w0BAQUFAAOBgQAJCltlV5qLSMXE\
; TGwHmtL3eUBSrr9YwoAbEQUz9Ytc1QjuEPCgOAQ7fpKWn/nYMk81yzSolRyELCti\
; 2gn5R4Y4QR8wZGGqljwAY33vas6xlYa7jbO4l1LPBuQK215mFRidIQRmMzfPxEa2\
; PibWbBJGdSd9JhMBd3JQfeb0fCdbgQ==\
; -----END CERTIFICATE-----

; The PEM-encoded RSA private key matching that certificate for outgoing
; SSL connections.  ie:
; privrsa = -----BEGIN RSA PRIVATE KEY-----\
; MIICXAIBAAKBgQC2C01DkY7GVJpPnkyys3I7tOwK3R7xJ/WQZTDmUWJeMD0z4xDh\
; sv007ml0elsF9U9TdNhcQ037YLLvIeD9kG/buVGKE6BFnwEE/rTaw68Ke1+H3ZUI\
; Coc/bNzk/pkbsWT7q+yYj5g4+cyyHEIXIfg2Yzu15sggETnSTVwfyid5bwIDAQAB\
; AoGATBAG1X+hDz9URoYW9+fAiC/9HEDt58dRdGbDeshweHhhaieq6xL1d0NSbqed\
; Fq072twMduhsUedCfGZEcs4B3jCMdZMMU/O0wzEAdQWegK+kXCZ8DX9rf4Pc4vb5\
; KKnTyj9dLNjrtlrvBUgFOBlczXVCwCzHRBaErfldqXIqOJECQQDuvdg4bWa2/KJc\
; toF9mY5tVvuNWOq7ELmWzzn6CZwW6+pvcvT/b8WDWRLJW7hR5RA+sCZAyo5IoTM0\
; clxhQ1jpAkEAwzQ2sIWlRS5maXRz5gwmzRiCMKcHPh7xd11EEcTzBk7PTBfZCaj1\
; PNTBTBbX1nhogn/TAIVTWpcaM+geozjIlwJAJ30PPoYZ7zpqQJuPX47+l+dDRGXo\
; rXheuisck9bzEneDF1wUWgvKx6b8DII3QpR402WfbigS0MCZD5u62/ufwQJAVEAu\
; 8pVcNbXHIfDPLRVFkfPoDROqPpegZIJupLS6p5hQRGlulYrE/hJds3eQhNLHWLvO\
; 2ESzK0BYYNrojk4t1QJBAOLCim6+TQ+o0QQ33e+bza8z6GoXweG8ltE/KloWujcP\
; dGWJU0R1tyWLIQOC5AfUS4JPKr8XZz2ZU7haJj5ZuMM=\
; -----END RSA PRIVATE KEY-----

; The PEM-encoded certificate of the DBus server we want to connect to.
; If this doesn't match, we won't connect.  Fun!  ie.
; dbuscert = -----BEGIN CERTIFICATE-----\
; MIICUjCCAbugAwIBAgIENWBLDjANBgkqhkiG9w0BAQUFADApMRYwFAYKCZImiZPy\
; LGQBGRMGaGVybWVzMQ8wDQYDVQQDEwZoZXJtZXMwHhcNMDgwODA2MjEzMzQyWhcN\
; MTgwODA0MjEzMzQyWjApMRYwFAYKCZImiZPyLGQBGRMGaGVybWVzMQ8wDQYDVQQD\
; EwZoZXJtZXMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALLf5+O19MWDAnlP\
; otoSesP/lJOOct2SMS2rNI1SNRW2kZ89UZRUiFnPelumZen9AUYeL25IrPf77wwp\
; JpDLE0Zbw8TNE/hpBEwpCiP0AkD6+CWUz8VPGJoS3olEiUIvtVAQ3zI2BiPmY/qQ\
; s6tf+2A1JXe8TtKX4d03rU/yuMchAgMBAAGjgYYwgYMwHQYDVR0OBBYEFH62VZzj\
; T/O2/Ied4j4JVWLCK0MzMBEGCWCGSAGG+EIBAQQEAwIGQDAVBglghkgBhvhCAQwE\
; CBYGaGVybWVzMA4GA1UdDwEB/wQEAwIDqDAJBgNVHRMEAjAAMB0GA1UdJQQWMBQG\
; CCsGAQUFBwMBBggrBgEFBQcDAjANBgkqhkiG9w0BAQUFAAOBgQAQiWKeBs85g619\
; ThrZ2uIt+xJBsC25pmJwtCFc5U5f6Z1PTvbbriM+tgaubUa1yTC7WF2Q3Cfitczv\
; ZUZlW3z7cid1ZWNQet+r7MwmE51mgrlNZNsPcU/2LlG4Ym4GFdqeuiVsEdANmFzP\
; V6bxkeOYeFqXNsUXN1xMk1OHimmRYQ==\
; -----END CERTIFICATE-----
