[Connections]
; Maps connection names to the information needed to connect.
; For MS SQL servers, use dbname = mssql:MSSQL Connection String.  For example:
;
; testdb = mssql:User Id=asta;Password=m!ddle-tear;Server=amsdev;Initial Catalog=adrian_test

[User Map]
; Maps user names to the database they're allowed to use.  For example:
;
; pmccurdy = testdb

