[Connections]
; Maps connection names to the information needed to connect.
; For MS SQL servers, use dbname = mssql:MSSQL Connection String.  For example:
;
; testdb = mssql:User Id=sa;Password=mypass;Server=myserver;Initial Catalog=mydbname

[User Map]
; Maps user names to the database they're allowed to use.  For example:
;
; pmccurdy = testdb
; * = testdb

[Security Level]
; Maps a user to a particular security level.  Currently, only levels 0 (or
; false) and 1 (or true) are supported.  Setting a user at level 0 prevents
; them from running more than one non-select query (and if the command starts
; with a select statement, no other queries except select will be accepted).
; 0 is the default setting for every user.
; NOTE:  Setting a security setting for the user running unit tests to 0 *will*
; cause unit test failures.
; NOTE2:  Setting * to 1 means that any user not explicitly set to 0 will have
; a permission level of 1.  You've been warned.
;
; evil_pmccurdy = false
; * = 1

[Cert Map]
; Maps a certificate fingerprint (get_fingerprint() in WvX509) to a username,
; usernames are given permissions based on the User Map.  For example:
;
; 85:DD:67:D3:ED:8F:39:58:E5:4A:E9:88:0D:22:C9:E5:70:41:71:75 = lkosewsk
