[Desktop Entry]
Encoding=UTF-8
Name=Veranda
GenericName=SQL Editor
Comment=Edit SQL Databases
Exec=veranda
Icon=/usr/share/pixmaps/veranda.svg
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
X-Desktop-File-Install-Version=0.12
